:root {
  --primary-color: #037ef3;
  --secondary-color: #26d0ce;
  --font-color: #363636;
  --bg-color: #fff;
  --heading-color: #060606;
  --border-radius: 8px;
  --border-radius-full: 30px;
  --border-color-light: #eee;
  --iframe-filter: grayscale(0%);
  --bg-grey: #f4f4f4;
  --bg-light: #fafafb;
  --serach-shadow: rgb(0 0 0 / 5%);
  --disable-color: #d8d6d6;
  --box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
  --layer: linear-gradient(
    to right,
    rgb(26 41 128 / 78%),
    rgb(46 234 232 / 59%)
  );
  --gradient-color: linear-gradient(to right, #1a2980, #26d0ce);
}

[data-theme="dark"] {
  --primary-color: #037ef3;
  --secondary-color: #26d0ce;
  --font-color: #b7b7b7;
  --bg-color: #09131d;
  --heading-color: #fdfffc;
  --border-color-light: rgba(255, 255, 255, 0.2);
  --iframe-filter: grayscale(100%);
  --bg-grey: #131917;
  --bg-light: #060d15;
  --serach-shadow: rgb(6 8 8);
  --disable-color: #5d5d5d;
  --box-shadow: 0 1rem 3rem rgb(4 8 12);
  --layer: linear-gradient(
    to right,
    rgb(17 26 82 / 78%),
    rgb(26 136 135 / 59%)
  );
  --gradient-color: linear-gradient(to right, #17246d, #20a7a5);
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar .navbar-brand span {
  font-size: 26px;
  font-weight: 500;
}
.navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: 400;
  font-stretch: extra-expanded;
}

/* Sliders Start*/
.w3l-banner-slider-main {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.w3l-banner-slider-main ol.carousel-indicators {
  margin: 0;
}

.w3l-banner-slider-main .carousel-item {
  min-height: 30em;
  position: relative;
  z-index: 1;
}

.w3l-banner-slider-main .carousel-item {
  background: url(../img/slider\ 1.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
}

.w3l-banner-slider-main .carousel-item.item2 {
  background: url(../img/slider\ 2.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
}

.w3l-banner-slider-main .carousel-item.item3 {
  background: url(../img/slider\ 4.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
}

.w3l-banner-slider-main .carousel-item:before {
  content: "";
  background: rgba(16, 16, 16, 0.470588);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.w3l-banner-slider-main .carousel-caption h3 {
  font-size: 90px;
  text-transform: uppercase;
  font-weight: 900 !important;
  /* line-height: 120px; */
  color: #ccccb2;
  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #757519, #ccccb2);
  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #757519, #ccccb2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.w3l-banner-slider-main .carousel-caption p {
  color: rgb(250, 228, 228);
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  opacity: 0.8;
}

.w3l-banner-slider-main a.banner-btn.btn {
  display: inline-block;
  outline: none;
  border: none;
  font-weight: 600;
  padding: 5px 13px;
  font-size: 16px;
  background-color: #7ff022;
  margin-top: 20px;
  color: black;
}

.w3l-banner-slider-main a.banner-btn.btn:hover {
  background: #ff6768;
  color: #fff;
}

.w3l-banner-slider-main .b-ck {
  display: block;
}

.w3l-banner-slider-main .carousel-indicators {
  bottom: 7%;
  left: 0%;
  cursor: pointer;
  display: none;
}

.w3l-banner-slider-main .carousel-caption {
  text-align: left;
  margin: 0 auto;
  position: absolute;
  right: 15%;
  bottom: 18%;
  left: 15%;
  z-index: 10;
}

.w3l-banner-slider-main .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 40em;
}

.w3l-banner-slider-main .carousel-control {
  line-height: 40em;
}

.w3l-banner-slider-main .carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.w3l-banner-slider-main .carousel-indicators .active {
  background: #03cce6;
  width: 30px;
  height: 3px;
}

.w3l-banner-slider-main .carousel-control-prev,
.w3l-banner-slider-main .carousel-control-next {
  background: none;
  position: absolute;
  top: 42%;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  /* opacity: 0.5; */
  transition: opacity 0.15s ease;
  height: 50px;
  width: 60px;
  padding: -10px;
  opacity: 0.9;
}

@media (max-width: 1080px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 50px;
    line-height: 50px;
  }
}

@media (max-width: 900px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 40px;
    /* line-height: 100px; - Updated */
  }
}

@media (max-width: 832px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 767px) {
  .w3l-banner-slider-main .carousel-item {
    min-height: 30em;
  }
}

@media (max-width: 667px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .w3l-banner-slider-main a.banner-btn.btn {
    padding: 12px 26px;
    font-size: 14px;
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 50px;
    /* line-height: 80px; */
  }
  .w3l-banner-slider-main .carousel-caption p {
    font-size: 15px;
  }
}

@media (max-width: 569px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 40px;
    line-height: 70px;
  }
}

@media (max-width: 595px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 595px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 490px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .w3l-banner-slider-main .carousel-caption p {
    font-size: 14px;
  }
  .w3l-banner-slider-main .carousel-item {
    min-height: 26em;
  }
}

@media (max-width: 440px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .w3l-banner-slider-main .carousel-item {
    min-height: 24em;
  }
  .w3l-banner-slider-main .carousel-caption {
    bottom: 12%;
  }
}

@media (max-width: 375px) {
  .w3l-banner-slider-main .carousel-caption h3 {
    font-size: 30px;
    line-height: 40px;
  }
  .w3l-banner-slider-main .carousel-item {
    min-height: 25em;
  }
  .w3l-banner-slider-main .carousel-caption {
    bottom: 12%;
  }
}

@media (max-width: 343px) {
  .caro_h3 {
    font-size: 26px !important;
    font-weight: 600;
  }
  .caro_h3_2 {
    font-size: 21px !important;
    font-weight: 800;
  }
}

@media (max-width: 333px) {
  .caro_h3 {
    font-size: 23px !important;
    font-weight: 600;
  }
  .caro_h3_2 {
    font-size: 19px !important;
    font-weight: 800;
  }
}

@media (max-width: 405px) {
  .banner-btn {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
}

.pos-center {
  margin: auto;
  width: 100%;
}

.xl-mt-6 {
  margin-top: 5rem !important;
}

.pos-center-1 {
  margin: auto;
  width: 100%;
  padding: 10px;
  margin-top: 60px;
  text-align: center;
}

.hny-title {
  font-size: 34px;
  line-height: 48px;
  font-weight: 600;
  position: relative;
}

.sub-title,
.sub-title-1 {
  position: relative;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  font-style: normal;
  padding-left: 70px;
  color: #48ad20;
}

.sub-title:before,
.sub-title-1::before {
  content: "";
  display: block;
  width: 55px;
  height: 3px;
  background-color: #48ad20;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
}

.carousel-item img {
  border-radius: 5px;
}

/* Sliders End*/

/* Overview Start  */
.overview p {
  color: rgb(51, 48, 48);
  font-size: 20px;
  font-weight: 500;
  opacity: 0.8;
}

.overview h3 {
  color: rgb(51, 48, 48);
  font-size: 55px;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.overview span {
  font-size: 24px;
  font-weight: 500;
}

/* Overview End  */

/* Services  */
.card .card-body h4 .card-title {
  text-align: center !important;
}

/* Services End */

/* Our Pride */
.pride h4 {
  font-size: 40px;
  color: rgb(48, 58, 150);
  font-weight: 700;
}

.pride p {
  font-size: 19px;
  margin-top: 25px;
}

.pride .outline {
  padding-top: 1.5rem;
  display: flex;
  justify-content: baseline;
}

.pride .outline h5 {
  margin-top: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ff6768;
}

.pride .outline img {
  text-align: center;
}
/* Our Pride End*/

/* Logo Resize  */

@media (max-width: 394px) {
  .navbar .navbar-brand img {
    width: 280px !important ;
  }
}

@media (min-width: 375px) {
  .navbar .navbar-brand img {
    width: 250px !important ;
  }
}

/* Logo Resize End */

.service-item-wrapper .service-info h4 {
  margin-top: 13px;
}

.service-item-wrapper a {
  font-size: 18px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #1e2a41;
  padding: 12px;
}

/*  */

.feature-stats {
  background: url(../img/Feature-stats-1.jpg) center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  z-index: 0;
}

.feature-stats h3 {
  font-weight: 500;
  line-height: normal;
  color: #131917;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media (min-width: 1080px) {
  .feature-stats h3 {
    font-size: 4rem !important;
    line-height: normal;
  }
}

@media (min-width: 1200px) {
  .feature-stats h3 {
    /*  */
  }
}

@media (min-width: 447px) {
  .feature-stats h3 {
    font-size: 3.3rem !important;
    line-height: normal;
  }
}

/* @media (min-width: 447px) {
  .feature-stats h3 {
    font-size: 2.7rem !important;
    line-height: normal;
  }
} */

.feature-stats .stats-p {
  font-size: 22px;
  margin-top: 20px !important;
  color: #131917;
}

.stats-h3-1 {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.stats-h3-2 {
  background-color: rgb(229, 188, 188);
  border-radius: 5px;
}

@media (max-width: 985px) {
  .feature-stats h3 {
    font-size: 45px;
  }
}

@media (min-width: 390px) {
  .feature-stats h3 {
    font-size: 30px;
    line-height: normal !important;
  }
}

@media (max-width: 390px) {
  .feature-stats h3 {
    font-size: 30px;
    line-height: normal !important;
  }
}

.feature-01-wrapper h3 {
  font-size: 60px;
  margin-bottom: 30px;
  padding-top: 120px;
}

@media (min-width: 1080px) {
  .feature-01-wrapper h3 {
    padding-top: 120px;
  }
}

@media (min-width: 1200px) {
  .feature-01-wrapper h3 {
    padding-top: 130px !important;
  }
}

@media (min-width: 1920px) {
  .feature-01-wrapper h3 {
    padding-top: 130px !important;
  }
}

@media (min-width: 390px) {
  .feature-01-wrapper h3 {
    padding-top: 20px;
  }
}

.feature-01-wrapper p {
  text-align: justify;
  margin-bottom: 40px;
}

.feature-01-wrapper a {
  font-size: 23px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.feature-01-wrapper a:hover {
  background-color: #1e2a41;
}

.teams h3 {
  text-align: center;
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #17246d;
}

.teams .header span {
  background-color: #5d5d5d;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.pos-center-2 {
  margin: auto;
  width: 100%;
  /* position: absolute; */
  margin-top: 30px;
  text-align: center;
}

.date-post span {
  /* background-color: #060d15; */
  color: rgb(44, 22, 22);
  padding: 3px;
  border-radius: 25px;
}

/* call for action section */

.call-to-action {
  background: var(--gradient-color);
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}

.side-1 h3 {
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.side-1 h6 {
  color: white;
  margin-top: 10px;
}

.side-2 .tel {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.side-2 .appointment {
  color: rgb(11, 20, 17);
  background: #ffffff;
  padding: 3px 20px 3px 20px;
  font-size: 20px;
  font-weight: 500 !important;
  border-radius: 30px;
  border: 2px solid gold;
  margin-top: 5px;
}

/* Footer  */

.footer {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(20, 20, 32, 0.712);
  color: whitesmoke;
}

.footer .row {
  border: 2px dotted;
  padding: 30px;
}

.contact-info h4 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.contact-info p {
  color: #e3e6e9;
}

.contact-info p a {
  text-decoration: none;
}

.quick-mune h4 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.quick-mune p {
  color: #e3e6e9;
}

.quick-mune p a {
  text-decoration: none;
  color: #e3e6e9;
}

.quick-mune p a:hover {
  text-decoration: none;
  color: blue;
}

.quick-explore h4 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.quick-explore p {
  color: #e3e6e9;
}

.quick-explore p a {
  text-decoration: none;
  color: #e3e6e9;
}

.quick-explore p a:hover {
  text-decoration: none;
  color: blue;
}

.border-top-1 {
  border-top: 1px solid;
}
